<!-- IDTAG starts block_clock.html 29 January 2022 copyright Prosk8er 2022 -->
<div class="block_data">
	<div class="clock">
		<div class="flipper">
			<div class="gear"></div>
			<div class="gear"></div>
			<div class="topc">
				<div class="text">00</div>
			</div>
			<div class="bottomc">
				<div class="text">00</div>
			</div>
		</div>
		<div class="flipper">
			<div class="gear"></div>
			<div class="gear"></div>
			<div class="topc">
				<div class="text">00</div>
			</div>
			<div class="bottomc">
				<div class="text">00</div>
			</div>
		</div>
		<div class="flipper">
			<div class="gear"></div>
			<div class="gear"></div>
			<div class="topc">
				<div class="text">00</div>
			</div>
			<div class="bottomc">
				<div class="text">00</div>
			</div>
		</div>
	</div>
</div>
{% INCLUDEJS '@phpbbireland_portal/assets/clock.js' %}
<!-- IDTAG ends block_clock.html -->
